@media screen and (min-width: 800px){
    @keyframes rise-up {
        from {height: 500px;}
        to {height: 65px;}
    }

    .sun-offset{
        height: 65px;
    }

    .sun{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 799px){
    @keyframes rise-up {
        from {height: 500px;}
        to {height: 245px;}
    }

    .sun-offset{
        height: 245px;
    }

    .sun{
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 550px){
    @keyframes rise-up {
        from {height: 500px;}
        to {height: 370px;}
    }

    .sun-offset{
        height: 370px;
    }

    .sun{
        width: 130px;
        height: 130px;
    }
}


.sun-cont{
    position: relative;
    top: 0;
    left: 0;
    z-index: -2;    
}

.sun-offset{
    animation-name: rise-up;
    animation-duration: 3s;
}

.sun{
    background-image: url(/img/sun.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin: 0 auto;    
}