#features{    
    padding-top: 150px;      
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 350px);    
    
}

.card-container{
    position: relative;
    background-image: url(/img/flashcard1.png);
    background-size: cover; 
    width: 85%;
    height: 310px;
    border-radius: 20px;   
}

.card-button, .gif-container{
    position: absolute;     
}

.gif-container{
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 50px;
}

.card-button{
    width: 100px;
    height: 40px;
    bottom: 25px; 
    left: 50%;
    margin-left: -50px;    
}




/* Mobile Responsiveness */

  @media (max-width: 380px) {
    .flex-grid,
    .flex-grid-thirds {
      display: block;      
    }

    .col {
        width: 100%;
        margin: 0 0 10px 0;
      }

    .button-card{
        margin-top: 135%;
        width:110px;
        height:40px;
        margin-left:28%;
        margin-right:20%;
    }

    .card1{
        position: relative;
        top: 0;
        left: 0;
        height: 320px;
        width: 250px;
        margin: 40%;
        /* margin-left:25%;
        margin-right:20%; */
    }
    
  }
  
  @media only screen and (min-device-width : 381px) and (max-device-width : 462px) {
    /* Styles */
    .flex-grid,
    .flex-grid-thirds {
      display: block;      
    }

    .col {
        width: 100%;
        margin: 0 0 10px 0;
      }

    .card1{
        position: relative;
        top: 0;
        left: 0;
        height: 320px;
        width: 250px;
        margin: 40%;
        /* margin-left:25%;
        margin-right:20%; */
    }
    .button-card{
        margin-top: 110%;
        width:110px;
        height:40px;
        margin-left:38%;
        margin-right:20%;
    }


    }

@media only screen and (min-device-width : 463px) and (max-device-width : 550px) {
    /* Styles */
    .flex-grid,
    .flex-grid-thirds {
        display: block;
        
    }

    .col {
        width: 100%;
        margin: 0 0 10px 0;
        }

    .card1{
        position: relative;
        top: 0;
        left: 0;
        height: 320px;
        width: 250px;
        margin: 40%;
        margin-left: 70%;
        /* margin-left:25%;
        margin-right:20%; */
    }
    .button-card{
        margin-top: 90%;
        width:110px;
        height:40px;
        margin-left:65%;
        margin-right:20%;
    }

}

@media only screen and (min-device-width : 551px) and (max-device-width : 680px) {

    .card1{
        position: relative;
        top: 0;
        left: 0;
        height: 250px;
        width: 170px;
        margin: 15%;
        margin-left:10%;
        margin-right:60%;
        /* margin-left:25%;
        margin-right:20%; */
    }
    .button-card{
        margin-top:-20%;
        width:90px;
        height:35px;
        margin-left:-10%;
        margin-right:40%;
    }

}

@media only screen and (min-device-width : 681px) and (max-device-width : 840px) {

    .card1{
        position: relative;
        top: 0;
        left: 0;
        height: 40%;
        width: 95%;
        margin: 15%;
        margin-left:1%;
        margin-right:60%;
        /* margin-left:25%;
        margin-right:20%; */
    }
    .button-card{
        margin-top:10%;
        width:50%;
        height:45px;
        margin-left:-10%;
        margin-right:40%;
    }

}
@media only screen and (min-device-width : 841px) and (max-device-width : 1000px) {
    .card1{
        position: relative;
        top: 0;
        left: 0;
        height: 300px;
        width: 250px;
        margin: 20%;
        margin-left:1%;
        margin-right:60%;
        /* margin-left:25%;
        margin-right:20%; */
    }
    .button-card{
        margin-top:5%;
        width:130px;
        height:50px;
        margin-left:-5%;
        margin-right:60%;
    }
    
  }

  @media (min-width: 1002px) {
    .button-card{
        width:110px;
        height:40px;
        margin:40%;
        margin-top: 75%;
        margin-left: 24%;
        /* margin-left:28%;
        margin-right:20%; */
    }

    .card1{
        margin-top: 80%;
        position: relative;
        top: 0;
        left: 0;
        height: 320px;
        width: 250px;
        /* margin: 40%; */
        /* margin-left:25%;
        margin-right:20%; */
    }
    
  }