#menu{    
    text-align: center;    
}

#nav{    
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin: 0 auto;
    border: solid #E8377B 1px;
    border-radius: 10px;
    z-index: 1000;
    list-style-type: none;
}

#nav ul{   
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    list-style-type: none;
    text-align: center;
    padding: 0px; 
    
}

.navbar ul li{
    display: inline-block;   
    vertical-align: middle;
    opacity: 1;
}

#nav ul li a{
    text-decoration: none;
    color: #E8377B;
    font-family: 'industry'; 
    font-weight: bold;  
    margin: auto;     
}

#logo{
    padding: 0px !important;
    margin: 0px 0px auto 30px;
}

#logo-img{
    width: 100px;
    height: 40px;
}

.btn{
    width: 130px;
    height: auto;
    vertical-align: middle;
}


@media screen and (max-width: 990px){
    #nav{    
        top: 0px;
    }
}


