@keyframes slide{
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

#about{
    height: 100%;    
}

.background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 100%;
    transform: translateY(-5px);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;       
}

#background1{
    background-image: url(/img/wave_background1.svg);
}

#background2{
    background-image: url(/img/wave_background2.svg);
}

#background3{
    background-image: url(/img/wave_background3.svg);
}

#background4{
    background-image: url(/img/wave_background4.svg);
}


#title{
    animation: slide 13s linear infinite;
    overflow-x: hidden;
}


.grid-container{
    position: relative;       
}

.main-grid{
    align-items: center;
    justify-content: center; 
    grid-gap: 20px; 
    margin: 0 auto;     
}

.main-grid h1, p{
    text-align: center;
    font-family: 'ocraExt';
     
    vertical-align: middle;
}

.main-grid h1{
    color: #FFF181;
    vertical-align: middle;
}

.main-grid p{
    color: #ffffff; 
    text-align: justify;
}

.inner-grid{
    text-align: center;
    display: grid;
}


#title{
    grid-area: title;      
}


#left-grid{
    grid-area: left-grid;
    grid-template-rows: 40% 1fr;
    
}

#middle-grid{
    grid-area: middle-grid;
    grid-template-rows: 390px 1fr;
    grid-gap: 20px;
}

#middle-grid div{
    padding: 0px;
}

#right-grid{
    grid-area: right-grid;
    grid-template-rows: 30% 1fr;    
}

#left-grid, #right-grid{
    grid-gap: 20px;
}

@media  screen and (min-width: 990px){
    .main-grid{
        display: grid; 
        width: 950px;
        height: 525px;
        grid-template-rows: 50px auto;
        grid-template-columns: 1fr 300px 1fr;
        grid-template-areas: 
        'title title title'
        'left-grid middle-grid right-grid';
    }

    .grid-container{
        top: 10%;   
    }
}

@media  screen and (min-width: 810px) and (max-width:989px) {
    .main-grid{
        display: grid; 
        width: 600px;
        height: 525px;
        grid-template-rows: 50px auto;
        grid-template-columns: 1fr 300px 1fr;
        grid-template-areas: 
        'title title title'
        'left-grid middle-grid right-grid';
    }

    .grid-container{
        top: 10%;   
    }
}

@media  screen and (min-width: 651px) and (max-width:809px) {
    
    .main-grid{
        display: grid; 
        width: 600px;
        height: 525px;
        grid-template-rows: 50px auto;
        grid-template-columns: 250px 300px;
        grid-template-areas: 
        'title title'
        'middle-grid left-grid'
        'middle-grid right-grid';
        transform: scale(0.85);
    }

    .grid-container{
        top: 5%;   
    }

    h1{
        font-size: 24px;     
    }

    
    #left-grid .gif-cont, #right-grid .gif-cont{
        display: none;
        width: 0px;
        height: 0px;
    }
}

@media screen and (min-width: 0px) and (max-width:650px) {}

