@keyframes dawn{
    from { background-position: 100% 10%; }
    to { background-position: 100% 30%;  }
}

@media screen and (min-width: 800px){
    #city{
        background-size: 100% 90vh; 
    }
}

@media screen and (max-width: 799px){
    #city{
        background-size: 100% 60vh; 
    }
}

@media screen and (max-width: 550px){
    #city{
        background-size: 100% 40vh; 
    }
}

#city{
    width: 100%;
    height: 100%;
    background-image: url(/img/background.png);
    
    background-position: center bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    z-index: -1;    
}

#sky{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background: linear-gradient(to top, #a6b3ec 70%, #050014);
    background-size: 100% 150%;
    background-position: 100% 30%;
    animation-name: dawn;
    animation-duration: 3s;
}
