.App{    
  margin: 0 auto;
  height: 100%;
}

#app-container{
  height: 100%;
}

#home{
  width: 100%;
  height: 100%;      
}

#title-container{
  position: absolute;   
  text-align: center;
  top: 150px; 
  width: inherit;      
}

.title{
  font-family: 'ocraExt', sans-serif;
  font-size: 70px;
  font-weight: bold;    
  text-shadow: 5px 5px rgba(109, 109, 155, 0.2);    
}

@font-face {
font-family: 'ocraExt' ;
src: url(/fonts/OCRAEXT.ttf) format('truetype'); 
}

@font-face {
font-family:"industry";
src:url("https://use.typekit.net/af/6dc482/00000000000000003b9adf53/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/6dc482/00000000000000003b9adf53/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/6dc482/00000000000000003b9adf53/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}



html, body{
  height: 100%;
  overflow-x: hidden;  
}

body{
  background: /*linear-gradient(to bottom, #050014  80%, */#a6b3ec;
  color: #191D42;
  padding: 0;
   
}
  
.container{    
  position: relative;
  margin: 0 auto;  
}

.full-screen{
  width: 100%;
  height: 630px;
}

.section{
  width: 100%;
  height: 530px;
  margin: 0 auto;
}

@media screen and (max-width: 549px){
    #about-sec{
      height: 1050px;
    }

    #features-sec{
      height: 1100px;
    }

    .title{
      font-size: 60px;
    }

    #title-container{
      top: 200px; 
    }
}

@media screen and (max-width: 950px){
  #features-sec{
    height: 1100px;
  }
}

@media screen and (max-width: 350px){
  #features-sec{
    height: 721px;
  }
}

@media screen and (min-width: 550px) and (max-width: 799px){
  #title-container{
    top: 170px; 
  }
}










