.footer-container{    
    width: 100%;
    margin-bottom: 0px;  
    background-image: url(/img/wave_background2.svg); 
    background-position: 25% 84%;
}

@media screen and (min-width: 401px){

    .footer-container{    
        height: 100px;
    }
    #icons{
        width: 400px;
        margin: 0 auto;
        margin-top: 16px;
        display: grid;
        grid-template-columns: 200px repeat(3, 40px);
        grid-gap: 15px;
    }

    #logo-icon{
        width: 200px;
        height: 80px;
    }

    .social-media-icon{
        width: 40px;
        height: 40px;
        margin-top: 25px;
    }
}

@media screen and (max-width: 400px){
    #icons{
        width: 265px;
        margin: 0 auto;
        margin-top: 16px;
        display: grid;
        grid-template-columns: 150px repeat(3, 30px);
        grid-gap: 10px;
    }

    #logo-icon{
        width: 150px;
        height: 60px;
    }

    .social-media-icon{
        width: 30px;
        height: 30px;
        margin-top: 15px;
    }
}